/* not working */
/*@import url("//moodle/course/format/ladtopics/css/bootstrap.min.css");
@import url("//moodle/course/format/ladtopics/css/dc.min.css");
@import "//moodle/course/format/ladtopics/css/dc.css";
@import "/moodle/course/format/ladtopics/css/ladtopics.css";*/


.right{
    float:right;
}

.red{
    color:red;
}

.red-border{
    border: solid 1px red;
}

.row-smooth { margin-top:10px; }

.dc-chart {
    margin: 0;
    display:inline-block;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.container.dc-chart{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.course-content ul.topics {
    margin: 0;
    display:inline-block;
    list-style: none;
}

.course-content ul.topics li.section .content {
    margin: 0 40px;
}

.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content ul.topics li.section .right img.icon {
    padding: 0 0 4px 0;
}

.course-content ul.topics li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.topics li.section .left,
.jsenabled .course-content ul.topics li.section .right {
    width: auto;
}

.course-content ul.topics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.topics li.section .section_action_menu .textmenu,
.course-content ul.topics li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}




#timeline-chart .axis.x path {
    stroke: none;
}

#timeline-chart .axis.y .tick line{
    stroke: none;
    display: none;
}

#filter-chart .axis.y {
    stroke: none;
    display: none;
}

#milestone-chart .axis.y {
    stroke: none;
    display: none;
}

#milestone-chart .milestone-bar {
    fill: #fff;
    fill-opacity: 0.5;
    text-anchor: middle;
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}

#milestone-chart .milestone-label {
    fill: black;
    text-anchor: middle;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;    
    cursor: pointer;
}


#milestone-chart .milestone-urgent {
    stroke:#ffa500;
    stroke-width:2px;
}

#milestone-chart .milestone-missed {
    stroke: #ff0000;
    stroke-width:2px;
}

#milestone-chart .milestone-progress {
    stroke:#008000;
    stroke-opacity: 0.3;
    stroke-width:4px;
}

#milestone-chart .milestone-ready {
    stroke:#008000;
    stroke-width:2px;
}

#milestone-chart .milestone-reflected {
    stroke:#0000ff;
    stroke-width:4px;
}

#milestone-chart .milestone-learning-progress{
    fill:green;
    fill-opacity: 0.3;
    stroke: none;
    cursor: pointer;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}


/* Modal */
.background-darken {
  background: rgba(0, 0, 0, 0.3);
}
.modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-full {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
}

 select {
    border: none;
    background: transparent;
    width:100%;
    appearance: none;
    padding-top: 0px;
    background-size: 20px;
    font-size:30px;
  }

 select option {
    color:#007bff;
    background:#ffffff;
}

select#select_day, select#select_month, select#select_year {
    border:1px solid #ced4da;
    border-radius: 0.25rem;
}

.modal .fa-plus { color: #333; }

.modal .form-check-label .fa-close { color: red; }
.modal .form-check-label .fa-info { color: #777; }
.modal .form-check-label .fa-info:hover { color: #111; text-align: right; }

.modal .select-wrapper{
    padding: 6px 12px;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #ddd;
}
.modal .select-wrapper:hover {
    background-color: #007bff;
    border-color: #007bff;
    color:#fff;
}

.modal .select-wrapper > select {
    width:90%;
}

.modal .select-wrapper:hover > select {
    color:#fff;
}

#milestone-chart .chart .ms-btn{
    margin-left:4px;
}


