<div style="display:none" class="col-md-6">
    <div class="select-wrapper" :style="invalidStrategy ? \'border: solid 1px #ff420e;\' : \'none\'">
        <span id="before-select"><i class="fa fa-plus"></i> </span>
        <select @change="strategySelected" class="" id="modal_strategy-select" class="">
            <option :selected="true" disabled>Lernstrategie</option>
            <optgroup label="Organisationsstrategien">
                <option v-for="s in strategiesByCategory(\'organization\')" :value="s.id">{{ s.name }}</option>
            </optgroup>
            <optgroup label="Elaborationsstrategien">
                <option v-for="s in strategiesByCategory(\'elaboration\')" :value="s.id">{{ s.name }}</option>
            </optgroup>

            <optgroup label="Wiederholungsstrategien">
                <option v-for="s in strategiesByCategory(\'repeatition\')" :value="s.id">{{ s.name }}</option>
            </optgroup>
            <!--<optgroup label="Sonstige">
                                    <option v-for="s in strategiesByCategory(\'misc\')" :value="s.id">{{ s.name }}</option>
                                    </optgroup>-->
        </select>
    </div>
    <div class="col-sm-10 alert-invalid" v-if="invalidStrategy">Wählen Sie bitte mindestens eine Lernstrategie aus.</div>
</div>